@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  body {
    @apply font-sans text-slate-800 bg-[#FDFDFD];
  }
}

@layer utilities {
  .shadow-soft {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
  }
  .shadow-vibrant {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  }
  
  /* Hide scrollbar for clean aesthetic */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
